* {
  box-sizing: border-box;
}

body {
  background-color: #272727;
  margin: 0;
  font-family: 'Roboto Mono', monospace;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.terminal {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.top-menu {
  width: 100%;
  box-sizing: border-box;
  background-color: #c7c7c7;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  text-align: center;
}

.button {
  height: 1em;
  width: 1em;
  border-radius: 50%;
  border: 1px solid #9d252b;
  position: relative;
  top: 6px;
  left: 6px;
  background-color: #ff3b47;
  display: inline-block;
  float: left;
}

.minimize {
  left: 11px;
  background-color: #ffc100;
  border-color: #9d802c;
}

.zoom {
  left: 16px;
  background-color: #00d742;
  border-color: #049931;
}

.title {
  vertical-align: sub;
}

.screen-container {
  background-color: #151515;
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  height: 400px;
}

.screen {
  width: 100%;
  height: 350px;
  overflow-y: scroll;
  box-sizing: content-box;
  padding: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.line {
  color: #9CD9F0;
  max-width: 90%;
}

.text {
  white-space: nowrap;
  overflow: hidden;
  letter-spacing: .15em;
  display: inline-block;
  margin: 2px 0;
}

.text.welcome {
  display: block;
  width: 1em;
}

.loading {
  width: 1em;
  border-right: .3em solid #ffffff;
  animation:
      typing 3.5s 1s steps(20, end) forwards,
      blink-caret .75s .5s 6 forwards;
}

.system-message {
  white-space: normal;
  width: 100%;
}

.system-message.green {
  color: #CDEE69;
}
.system-message.grey {
  color: #CDCDCD;
}
.system-message.red {
  color: #E09690;
}
.system-message.white {
  color: #FFFFFF;
}

.greeting {
  opacity: 0;
  animation:
    fade-in .2s 6s linear forwards;
}

.user-input {
  border-right: .3em solid #ffffff;
  animation:
    blink-caret .75s step-end infinite;
}

.user-input.initial {
  opacity: 0;
  animation:
      fade-in .2s 6.5s linear forwards,
      blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 1em }
  to { width: 25em }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #ffffff; }
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

.mobile {
  display: none;
  opacity: 0;
}

.controls {
  background-color: #c7c7c7;
  color: #000000;
  font-size: 2em;
  display: flex;
}

.control {
  width: 100%;
  text-align: center;
  border: 1px solid #272727;
}

@media
only screen and (min-device-width : 320px) and (max-device-width : 1024px) {
  .mobile {
    display: block;
    animation: fade-in .2s 6.5s linear forwards;
  }

  .container {
    font-size: 12px;
  }

  .terminal {
    width: 100%;
    height: 100%;
  }

  .top-menu {
    border-radius: 0;
  }

  .title {
    font-size: 1.5em;
  }

  .screen-container {
    height: 100%;
  }

  .screen {
    height: 90%;
  }
}