* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

#application {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.figures {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.figure {
  cursor: pointer;
  opacity: .8;
  transition: opacity 0.5s ease-in-out;
}

.figure.active {
  animation: move-to-center 0.5s forwards 0.5s;
}

.figure.inactive {
  opacity: 0;
}

.figure img {
  width: 100%;
}

.figure:hover:not(.inactive) {
  opacity: 1;
}

@media (max-width: 760px), (max-device-width: 480px) and (orientation: portrait) {
  .figures {
    flex-direction: column;
  }

  .figure {
    margin: 0;
  }
}

@keyframes move-to-center {
  from {}
  to { position: absolute; }
}